body {
    background-color: red;
    color: black;
    text-align: center;
}

h1 {
    text-decoration: underline;
    font-size: 3em;
}

p {
    color: black;
}

b {
    color: white;
}

img {
    width: 300px;
    height: 225px;
}

h3 em {
    font-weight: bold;
    color: white;
}